.search{
    margin-top: 70px;
    margin-left: 5em;
    color:black;
}

.card-display{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    align-items: stretch;

}

.card-style{
    margin-top: 1.5em;
    margin-left: 1.5em;
}

.card-title{
    color: black;
}

.card-img{
    width: 50px;
    height: 40%;
}

.button-search{
    border: none;
    background-color: black;
    color: white;
    
}